.dateTimeBox {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin: 0.2rem 0 0.2rem 5%;
  border: 2px solid white;
  justify-content: center;
  height: 3.5rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}
