.loginMenu {
  width: 40rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: fit-content;
}

.loginTitle {
  font-size: 3rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 40rem;
}

.loginForm {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.titleAndBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.titleAndBox {
  display: flex;
}

.inputBox {
  font-size: 1.5rem;
}

.validationButton {
  width: 10rem;
  font-size: 1.5rem;
}

.validationButtonContainer {
  display: flex;
  justify-content: center;
}

.signUpText {
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 0.1px solid black;
  width: fit-content;
  padding: 0.2rem;
}

.signinButton {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
}

.exitButton {
  width: fit-content;
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
}
