.settingsWindow {
  width: 30rem;
  height: 20rem;
}

.settingsMenu {
  display: flex;
}

.tab:hover {
  background: rgba(0, 0, 0, 0.2);
}

.tabMenu {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.tabName {
  font-size: 2rem;
  /* white-space: nowrap; */
  padding-bottom: 1rem;
}

.tabForm {
  font-size: 1rem;
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
}

.userAdminBox {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  padding-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.titleAndBox {
  display: flex;
  padding-bottom: 0.5rem;
  width: 16rem;
  text-align: right;
}

.labelForm {
  white-space: nowrap;
  width: 7rem;
  text-align: end;
  padding-left: 0.5rem;
}

.inputBox {
  font-size: 1rem;
  width: 10rem;
  direction: rtl;
}

.validationButton {
  width: 10rem;
  font-size: 1rem;
  background-color: var(--background0);
  cursor: pointer;
  text-align: center;
  border-radius: 0.3rem;
  border: solid 2px black;
  font-weight: bold;
}

.validationButton:hover {
  background-color: chocolate;
}

.validationButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
