.signupMenu {
  /* height: 40rem; */
  width: 40rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: fit-content;
}

.signupTitle {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  width: 40rem;
}

.signupForm {
  font-size: 2rem;
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
}

.titleAndBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.titleAndBox {
  display: flex;
}

.inputBox {
  font-size: 1.5rem;
}

.validationButton {
  width: 10rem;
  font-size: 1.5rem;
}

.validationButtonContainer {
  display: flex;
  justify-content: center;
}
