.signupMenu {
  width: 40rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: fit-content;
}

.signupTitle {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  width: 40rem;
}

.signupForm {
  font-size: 1.5rem;
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
}

.titleAndBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  text-align: right;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.inputBox {
  font-size: 1rem;
  direction: rtl;
}

.validationButton {
  width: 10rem;
  font-size: 1rem;
  background-color: var(--background0);
  cursor: pointer;
  text-align: center;
  border-radius: 0.3rem;
  border: solid 2px black;
  font-weight: bold;
}

.validationButton:hover {
  background-color: chocolate;
}

.validationButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.exitButton {
  width: fit-content;
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
}

.errorBox {
  font-size: 1rem;
  color: red;
}

.error {
  color: red;
}

.iconButton:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
